
.section__banner{
    background: #eeafba;
    .section__banner-banner{
        background: url("assets/background-banner-nails.png");
        background-size: contain;
        background-repeat: round;
        width: 100vw;
        height: 100vh;
        .container__button{
            width: 100%;
            justify-content: center;
            display: flex;
            position: absolute;
            padding-top: 2em;
            .button__btn{
                background: transparent;
                border: none;
                font-size: 1em;
                font-weight: bold;
                color: #fff;
                cursor: pointer;
                padding: 10px 1em;
                margin: 0 2px;
                letter-spacing: 1.5px;
                border: 1.5px solid #ffffffa4;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transition: all .2 ease-in;
                background: #f3b7c3;
            }
            .buttonActive{
                background: #e990a1;
                
            }
        }
        &-container{
            display: grid;
            grid-template-columns: 1fr;
            height: 100vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 17em;
            &-enlaces{
                display: grid;
                grid-template-columns: 1fr;
                text-align: center;
                align-items: center;
                align-self: center;
                justify-content: center;
                gap: 3em;
                .container__titulo{
                    font-family: system-ui;
                    font-size: 39px;
                    text-transform: uppercase;
                }
                .container__appstore{
                    img{
                        width: 18em;
                        padding: 0 20px;
                    }
                }
                .container__description{
                    font-weight: bold;
                    font-size: 30px;
                    font-family: system-ui;
                }
            }
        }
        .container__botle{
            position: absolute;
            top: 20%;
            left: 0em;
        }
        .container__mobile{
            position: absolute;
            top: 8%;
            right: 7%;
        }
    }
}

@media only screen and(max-width: 490px){
    .section__banner{
        background: #ffa9ba;
        .section__banner-banner{
            background-size: cover;
            background-repeat: no-repeat;
            .container__button{
                button{
                    margin: 0 2px;
                }
                .button__btn{
                    margin: 0 2px;
                }
            }
            .container__botle{
                display: none;
            }
            .container__mobile{
                display: none;
            }
        }
        .section__banner-banner-container{
            .section__banner-banner-container-enlaces{
                padding-top: 3em;
                .container__logo{
                    img{
                        width: 16em;
                    }
                }
                .container__titulo{
                    font-size: 36px;
                }
                .container__appstore{
                    img{
                        width: 16em;
                        padding: 10px;
                    }
                }
                .container__description{
                    padding: 0 20px;
                    font-size: 25px;
                }
            }
        }
    }
}
@media only screen and(min-width: 490px) and(max-width: 520px){
    .section__banner{
        background: #eeafba;
        .section__banner-banner{
            background-size: cover;
            background-repeat: no-repeat;
            .container__botle{
                display: none;
            }
            .container__mobile{
                display: none;
            }
        }
        .section__banner-banner-container{
            .section__banner-banner-container-enlaces{
                padding-top: 3em;
                .container__logo{
                    img{
                        width: 16em;
                    }
                }
                .container__titulo{
                    font-size: 36px;
                }
                .container__appstore{
                    img{
                        width: 16em;
                        padding: 10px;
                    }
                }
                .container__description{
                    padding: 0 20px;
                    font-size: 25px;
                }
            }
        }
    }
}
@media only screen and (min-width: 520px) and (max-width: 1540px){
    .section__banner{
        background: #eeafba;
        .section__banner-banner{
            background-size: cover;
            background-repeat: no-repeat;
            .container__botle{
                display: none;
            }
            .container__mobile{
                display: none;
            }
        }
        .section__banner-banner-container{
            .section__banner-banner-container-enlaces{
                .container__description{
                    padding: 0 20px;
                }
                .container__appstore{
                    img{
                        width: 15em;
                        padding: 10px;
                    }
                }
                .container__mobile{
                    position: absolute;
                    top: 10%;
                    right: 7%;
                }
            }
        }
    }
}
